<div id = "mainB">
        <div id="grid">
            <div id="areaA">
                <div class="logo">
                  <img src="assets/logo.png">
                </div>
                <br><br>
                <div class="pic">
                   <img src="assets/pic.png">
                </div>
            </div>
            <div id="areaB">
                <form class="login" [formGroup]="formGroup"  >
                    <h1 style="font-weight: 600; letter-spacing: 3px;">Welcome Back!</h1>
                    <p>Log in to continue</p>
                    <div class="form-group">
                        <img class="login__icon fas fa-user" src="assets/person-fill.svg" >
                        <input matInput type="text" formControlName="username" class="form-control" required  >
                    <mat-error *ngIf="formGroup.controls['username'].invalid">{{getError('user')}}</mat-error>
                   
                    </div>
                    <div class="form-group">
                        <img class="login__icon fas fa-lock" src="assets/lock-fill.svg">
                        <input matInput type="password" formControlName="password" class="form-control" required  > 
                     <mat-error *ngIf="formGroup.controls['password'].invalid">{{getError('pass')}}</mat-error>
                     
                    </div>
                    <div class="form-group">
                        <button id="submit" type="button"  class = "btn btn-primary"[disabled]="formGroup.invalid" (click)="onSubmit()">
                            <span class="button__text"  >LOGIN</span>
                             
                           
                        
                       </button>
                       <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: rgb(250, 216, 216);" > Loading... </p></ngx-spinner>
                       <!--Console.log(Get Cookie: {{cookieValue})-->
                      

                    </div>				
                </form>
            </div>
        </div>
        <div class="bg">
            <img src="assets/bg1.png">
       
</div> 
</div>