.close-button{
    float: right;
    top:-24px;
    right:-24px;
    display: block;
    background: transparent;
    border-style: none;
    outline: none;
  }
  
  .close-icon {
    transition: 1s ease-in-out;
  }
  
  .close-icon:hover {
    transform: rotate(180deg);
  }
  
  .data{
      font-weight: 300;
      font-size: large;
     
  }
  