.app-component{
    width: 98%;
    
  }
  .main-box{
    height: 100vh;
    width: 98%;
    background-color: rgb(255, 255, 255);
    display: block;
    border-right-style: solid ;
    border-color: rgb(243, 243, 243);
   
    
  }
  #logo{
    margin-left: -5px;
  }
  
  .menu-items{
      padding-left: 0px;
      list-style: none;
      background: rgb(255, 255, 255);
      line-height: 60px;
  }
  
  .eye{
    display: block;
    background: transparent;
    border-style: none;
    color: #b9b4e6;
}

.eye:hover{
    color: black;
    background-color: transparent;
  
}
.eye:hover.active{
    color: black;
    background-color: transparent;
}
  
  
  
  
  
  .menu-items li{
      display: block;
      line-height: 60px;
      width: 100%;
      font-size: x-large;
      font-weight: 400;
      text-align: start;
      padding-left: 25px;
      transition: 0.5s;
      cursor: pointer;
  
      
    
  
  }
  .menu-items li:hover{
      background: #b9b4e6;
      text-align: start ;
      width: 100%;
      color: #000000;
      .logo{
          background:white;
      }
  }
@media (max-width:985px){

    .main-box{
        height: 300px;
    }
}
  



.mat-row:nth-child(even){
    background-color: rgb(218, 216, 216);
}
.mat-header-cell{
    font-weight: 400;
    padding-left: 10px;
    color: black;
    text-align: start;
    font-size: 19px;
    border: 0.1px solid rgb(223, 223, 223);

}
.mat-table{
  
    border: 0.1px solid rgb(223, 223, 223);
}

.mat-cell {
   
   padding-left: 10px;
   font-size: 1.2rem;
   border: 0.1px solid rgb(223, 223, 223);
    
}


.menu-items li{
    display: block;
    line-height: 60px;
    font-size: x-large;
   
    font-weight: 400;
    text-align: start;
    
    padding-left: 25px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);

}
.menu-items li:hover{
    background: #b9b4e6;
    text-align: start ;
    color: #000000;
    .logo{
        background:white;
    }
}

.onActive{
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-size: large;
    text-decoration: none;
    font-style: light;
    text-align: start;
    background-color: #b9b4e6;
    
}



  
  
  
  
  
  
  
  
  
  
  
  
  
  /* general styling */
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }







