.app-component{
    width: 98%;
    
}
.main-box{
    height: 100%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    display: block;
    border-right-style: solid ;
    border-color: rgb(243, 243, 243);
    
}
#logo{
    margin-left: -5px;
   
}