.app-component{
  width: 98%;
  
}
.main-box{
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: block;
  border-right-style: solid ;
  border-color: rgb(243, 243, 243);
 
  
}
@media (max-width: 991px) {
  .main-box {
    height: 0;
    background-color: white;
    display: block;
    border-right-style: solid;
    border-color: #f3f3f3;
}
}

#logo{
  margin-left: -5px;
}

.menu-items{
    padding-left: 0px;
    list-style: none;
    background: rgb(255, 255, 255);
    line-height: 60px;
}






.menu-items li{
    display: block;
    line-height: 60px;
    width: 100%;
    font-size: large;
    font-weight: 400;
    text-align: start;
    padding-left: 25px;
    transition: 0.5s;
    cursor: pointer;

    
  

}
.menu-items li:hover , .menu-items li.active{
    background: #b9b4e6;
    text-align: start ;
    width: 100%;
    color: #000000;
    .logo{
        background:white;
    }
}



.check {
  color: rgb(0, 0, 0);
  background: #b9b4e6;
} 
  
  
#text1{
  padding-left: 25px;
  padding-top: -10px;
  position: relative;
}
#text2{
  padding-left: 25px;
  margin-top: -20px;
  position: relative;
}
  
  
  
  
  
  
  
  
  
  
  
  /* general styling */
  body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }

