<div class="main-box">

    <div class="side-menu-list">
        <ul class="menu-items" >
        <li> <img src="assets/logo.png" id ="logo"></li>
        <span> <br></span>
        <li [routerLink]="['/home']" routerLinkActive="active">List</li>
        <li [routerLink]="['/employeelist']" routerLinkActive="active" >Employee list</li>
        <li  [routerLink]="['/reimbursement']" routerLinkActive="active" >Reimbursement</li>
        </ul>
    </div>
    <div class="side-menu-content">
</div>

